/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/noto-serif-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/noto-serif-v9-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/noto-serif-v9-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('./fonts/noto-serif-v9-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/noto-serif-v9-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/noto-serif-v9-latin-regular.svg#NotoSerif') format('svg'); /* Legacy iOS */
}

.gradient-background {
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #e2d4b7, #af7595, #8c2155, #00bcd4);
  background-size: 400% 400%;
  -webkit-animation: Gradient 25s ease infinite;
  -moz-animation: Gradient 25s ease infinite;
  animation: Gradient 25s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
